.header {
  height: 56px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: rgb(216, 216, 216);

  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 620px;
  display: flex;
  align-items: center;
}

.search-bar {
  height: 36px;
  flex: 1;
  padding-left: 8px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-radius: 2px;
  box-shadow: inset 1px 2px 5px rgb(0, 0, 0, 0.05);
  width: 0;
}

.search-bar::placeholder {
  font-family: 'Roboto', sans-serif, Arial;
  font-size: 16px;
}

.search-button {
  width: 64px;
  height: 40px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  margin-left: -1px;
  margin-right: 10px;
  background-color: rgb(246, 246, 246);
}

.search-button, .voice-button, .upload-container, .notifications-icon-container, .user-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-button:hover {
  background-color: rgb(240, 240, 240);
}

.search-button .tooltip, .voice-button .tooltip, .upload-container .tooltip, .notifications-icon-container .tooltip{
  position: absolute;
  background-color: rgb(128, 128, 128, 0.9);
  color: white;

  padding-left: 4px;
  padding-top: 8px;
  padding-right: 4px;
  padding-bottom:8px;
  border-radius: 2px;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 12px;

  bottom: -50px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip, .voice-button:hover .tooltip,  .upload-container:hover .tooltip, .notifications-icon-container:hover .tooltip{
  opacity: 1;
}

.search-icon {
  height: 24px;
}

.voice-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(246, 246, 246);
}

.voice-icon {
  height: 24px;
}

.right-section {
  width: 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 45px;
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: -3px;
  right: -5px;

  background-color: rgb(190, 1, 1);
  color: white;
  font-family: 'Roboto', 'Arial';
  font-size: 11px;

  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}

.notifications-icon {
  height: 24px;
}

.user-logo {
  height: 32px;
  border-radius: 16px;
}