
body {
  font-family: 'Roboto', sans-serif;
}
.thumbnail {
  width: 300px;
}

.search-bar {
  font-size: 20px;
}

.thumbnail {
  display: block;
}

.video-title {
  width: 300px;
  display: inline-block;
}