

.video-grid {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 column-gap: 16px;
 row-gap: 40px;
}

@media  screen and (max-width: 800px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}

@media  screen and (min-width: 801px) and (max-width: 998px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media  screen and (min-width: 999px) and (max-width: 1339px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media  screen and (min-width: 1340px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-grid a{
  text-decoration: none;
}

.thumb-row {
  margin-bottom: 12px;
  position: relative;
}

.thumbnail {
  width: 100%;
}

.video-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}

.video-channel, .video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
  line-height: 18px;

}

.video-channel {
  margin-bottom: 4px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 42px 218px 1fr;
  position: relative;
}

.logo-div {
  vertical-align: top;
}

.channel-logo {
  width: 36px;
  border-radius: 50px;
}

.video-info {

}

.menu-icon {
  cursor: pointer;
  width: 10px;
  position: absolute;
  top: 0;
  right: 10px;
}

.video-info-mix-grid {
  display: grid;
  grid-template-columns: 272px 1fr;
}

.video-time {
  font-weight: 500;
  font-size: 12px;

  padding: 3px;
  border-radius: 2px;

  background-color: black;
  color: white;
  position: absolute;
  right: 5px;
  bottom: 8px;
}

.music-mix {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 5px;
  width: 300px;
  text-align: center;
}

.music-logo {
  height: 24px;
  color: white;
}
